form {
    margin: 0;
    padding: 0;
}

button {
    border-color: #444;
}

.modal-dialog-overlay {
    background: black;
    filter: alpha(opacity=75);
}

.modal-dialog-middle {
    position: absolute;
    top: 5%;
    left: 0%;
}

.modal-dialog-inner {
    margin: 0 auto;
    width: 75%;
    border: 2px solid #999;
}

.methanal-tab-view .methanal-tab-labels {
    padding-top: 0;
}

.methanal-tab-view .methanal-tab-label {
    /* Simulate inline-block. */
    zoom: 1;
    display: inline;
}

.methanal-tab-view .methanal-tab-label a {
    zoom: 1;
    margin-bottom: -0.5em;
}

.methanal-tab-view .selected-tab-label a {
    padding-top: 0.5em;
}

.methanal-tab-view .methanal-tab-group-label {
    margin-bottom: -0.5em;
    padding: 0.25em;
}

.dependancy-parent {
    background-position: 3px center;
}

.hover-tooltip {
    /* Simulate inline-block. */
    zoom: 1;
    display: inline;
    vertical-align: top;
}

.label-tooltip .hover-tooltip {
    position: relative;
    top: -0.25em;
    margin-right: -100%;
}

@media print {
    .print-target .modal-dialog-middle {
        top: 0;
    }

    .print-target .modal-dialog-inner {
        /* 100% clips on the edges. */
        width: 99%;
        border: none;
    }
}
