.methanal-form-group {
    margin: 10px 0;
    border: 1px outset #25a;
    background: #e5e5ef url(/static/Methanal/images/group-bg.png) repeat-x top left;
    padding: 10px;
}

.methanal-control {
    padding: 3px 0;
    clear: left;
}

.methanal-control-inputs,
.methanal-control-inputs > * {
    float: left;
}

.methanal-control-odd {
    background-color: #ddd;
}

.methanal-control-error {
    background-color: #e3aeae !important;
}

.methanal-error,
.methanal-error-text {
    line-height: 3ex;
    float: left;
}

.methanal-error-text {
    font-size: 90%;
}

.methanal-error {
    width: 20px;
    margin-right: 3px;
    background: url(/static/Methanal/images/error-icon.png) no-repeat top;
}

.methanal-caption {
    min-width: 20em;
    float: left;
    margin: 0 5px;
    padding: 3px;
}

.methanal-inline-group .methanal-error {
    float: left;
    padding: 2px;
}

.methanal-inline-children .methanal-inline-control .methanal-input {
    clear: none;
    float: left;
    margin-right: 3px;
    min-width: 5em;
}

.methanal-multi-input {
    float: left;
    background: white;
    padding: 3px 5px;
    border: 1px outset black;
}

.methanal-multi-input .methanal-caption {
    min-width: 8em;
    margin: 0;
}

.methanal-sub-caption {
    padding: 3px 0;
    float: left;
    clear: left;
}

input.methanal-input,
select.methanal-input,
textarea.methanal-input {
    border: 1px inset #bbb;
    padding: 2px;
    margin-right: 3px;
    float: left;
}

select.methanal-input {
    padding: 1px 2px;
}

textarea.methanal-input {
    width: 20em;
    height: 14ex;
}

/*
input.methanal-input:hover,
input.methanal-input:focus,
select.methanal-input:hover,
select.methanal-input:focus,
textarea.methanal-input:hover,
textarea.methanal-input:focus {
    background-color: #f5f5f5;
}
*/

.methanal-control-multicheck label input {
    margin: 0.5ex 0;
}

.methanal-check-input-label {
    float: left;
    margin-right: 0.5em;
}

input.methanal-check-input {
    border: none;
    margin-left: 0;
    float: left;
}

button.methanal-submit-disabled,
button.methanal-submit-disabled:hover {
    background-color: #bbb;
    cursor: default;
}

button.methanal-submit-disabled:active {
    border-style: double;
}

input.telephone-area {
    min-width: 0;
    width: 3em;
}

input.telephone-number {
    min-width: 0;
    width: 7em;
}

input.suburb-postal-code {
    min-width: 0;
    width: 4em;
}

input.suburb-postal {
    min-width: 0;
    margin-left: 0;
}

optgroup {
    font-style: normal;
}

optgroup option {
    padding-left: 1em;
}

.tooltip {
    position: absolute;
    color: black;
    background: white;
    border: 1px solid #275e8c;
    border-left: none;
    margin: 0;
    left: 0;
    padding: 2px;
    min-width: 10em;
}

.methanal-multiselect {
    max-height: 30ex;
}

.methanal-multiselect-selection {
    font-size: 80%;
    clear: left;
    float: left;
    margin: 2px;
    font-weight: bold;
}

.terminator {
    clear: both;
}

.methanal-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
}

.methanal-table thead td {
    font-weight: bold;
    color: #555;
    background: #ddd url(/Mantissa/images/scrolltable-header-bg.png) repeat-x;
    padding: 4px 5px;
}

.methanal-table a {
    color: black;
    display: block;
    margin: -0.3em;
    padding: 0.3em;
}

.methanal-table td:first-child a,
.methanal-table td.first-child a {
    background: url(/static/Methanal/images/link.gif) no-repeat 5px center;
    padding-left: 19px;
}

.methanal-table tr:hover {
    background-color: #eee !important;
}

.methanal-table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 0.3em;
}

.methanal-table .even {
    background-color: #f5f5f5;
}

.methanal-table .methanal-table-empty-row td {
   font-size: 90%;
   font-weight: bold;
   text-align: center;
}

.methanal-table .table-action-icon {
    border: none;
    vertical-align: middle;
}

.methanal-filter-list {
    margin: 5px;
    border: 1px outset #777;
    background-color: #f4f4f4;
    padding: 5px;
}

.methanal-filter-list h2,
.methanal-filter-list h3 {
    padding: 0;
    margin: 0.5em 0;
}

.methanal-filter-list hr {
    border: none;
    border-top: 1px solid #aaa;
}

img.roll-up-error {
    float: left;
    padding: 0.5ex;
    padding-right: 0;
}

.roll-up-error {
    color: #bb2e2e;
}

.roll-up-bar button {
    background: white no-repeat center center;
    float: left;
    height: 26px;
    width: 26px;
    border: none;
    padding: 0;
}

button.roll-down {
    background: url(/static/Methanal/images/roll-down-icon.png) no-repeat;
}

button.roll-up {
    background: url(/static/Methanal/images/roll-up-icon.png) no-repeat;
}

.roll-up-section {
    clear: both;
    background: url(/static/Methanal/images/roll-up-bg.png) no-repeat;
    margin-right: -10px;
}

.roll-up-bar {
    height: 4ex;
    padding-left: 6px;
    padding-top: 6px;
}

.unadded {
    color: #bb7e7e;
}

.unadded button {
    background: url(/static/Methanal/images/roll-add-icon.png) no-repeat;
}

.roll-up-content {
    background: url(/static/Methanal/images/shadow-top.png) repeat-x;
    border: 1px solid #ccc;
    border-left-color: #ddd;
    border-right: none;
    padding: 10px;
    margin-left: 3px;
}

.roll-up-label {
    vertical-align: middle;
    font-size: 150%;
    float: left;
    /* Hrm... bothersome. */
    padding: 0.25ex 0.3em;
    min-width: 10em;
}

.roll-up-summary {
    float: left;
    line-height: 5ex;
    height: 100%;
    padding-left: 1em;
    font-size: 90%;
    border-left: 1px solid #ccc;
}

.roll-up-total {
    float: right;
    line-height: 4ex;
    height: 100%;
    font-weight: bold;
}

.roll-up-controls {
    float: right;
    border-left: 1px solid #bbb;
    margin-left: 5px;
    padding: 0 5px;
}

.roll-up-controls button {
    background: url(/static/Methanal/images/delete-icon.png) no-repeat;
    border: none;
    width: 24px;
    height: 24px;
}

.methanal-lookup-form {
    float: left;
    border: 1px outset #777;
    background: white;
    padding: 2px;
}

.friendly-representation {
    font-weight: bold;
    font-size: 85%;
    padding: 0.5ex;
    float: left;
}

.embedded-label {
    color: #bbb !important;
}

.methanal-submit-error {
    color: white;
    background: #74010c;
    border-top: 1px solid #f30219;
    padding: 5px;
    margin: -5px;
    margin-top: 5px;
}

.methanal-submit-error h1 {
    font-size: 130%;
    /*font-family: "Georgia", "Times New Roman", serif;*/
    font-weight: normal;
    margin: 0 0 0.3em 0;
}

.methanal-submit-error > div {
    background: url(/static/Methanal/images/error-icon.png) no-repeat center left;
    padding: 2px;
    padding-left: 24px;
}

.methanal-submit-error-action {
    padding: 0 4px;
    cursor: pointer;
}

.methanal-submit-error-action img {
    vertical-align: middle;
}

.methanal-action-container {
    border-top: 1px solid #aaa;
    background: white;
    margin: -5px;
    margin-top: 5px;
    padding: 5px 0;
}

.methanal-action-container .methanal-action-button {
    margin: 0 5px;
}

.throbber {
    visibility: hidden;
    vertical-align: middle;
}

.modal-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    opacity: 0.75;
    z-index: 1000;
}

.modal-dialog-outer {
    z-index: 1001;

    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-dialog-middle {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.modal-dialog-inner {
    display: table;
    margin: 5% auto;
    background: white;
    padding: 1em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 0 30px #333;
    -webkit-box-shadow: 0 0 30px #333;
}

.modal-dialog-inner h1 {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    font-weight: normal;
}

.placeholder {
    height: 32px;
    background: url(/static/Methanal/images/long-throbber.gif) no-repeat center center;
    padding: 1em 0;
}

/**
 * Tab view widget.
 */

.methanal-tab-view {
    margin: 3em 0;
}

.methanal-tab-view .methanal-tab-labels {
    background: #e0f1ff;
    color: #185280;
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #247dc2;
}

.methanal-tab-view .methanal-tab-label {
    cursor: pointer;
    display: inline-block;
    list-style: none;
}

.methanal-tab-view .methanal-tab-label a {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-bottom: none;
}

.methanal-tab-view .methanal-dynamic-tab a {
    background: #f2e0ff;
}

.methanal-tab-view .methanal-tab-label a:hover {
    background: #247dc2;
    color: white;
}

.methanal-tab-view .selected-tab-label a,
.methanal-tab-view .selected-tab-label a:hover {
    background: white;
    color: black;
}

.methanal-tab-view .selected-tab-label a {
    position: relative;
    top: 1px;
    padding-top: 0.8em;
    border-color: #247dc2;
}

.methanal-tab-view .methanal-tab-content {
    border: 1px solid #247dc2;
    border-top: none;
    display: none;
    clear: left;
    padding: 1em;
}

.methanal-tab-view .selected-tab {
    display: block;
}

.methanal-tab-view .methanal-tab-group {
    cursor: default;
    background: #9bc4e5;
    margin: -2.5em 0.25em -0.5em;
    padding: 0 0.5em;
    -moz-border-radius: 0.5em 0.5em 0 0;
    -webkit-border-radius: 0.5em 0.5em 0 0;
}

.methanal-tab-view .methanal-tab-group-label {
    font-size: 80%;
    text-align: center;
    padding: 0.5em;
    color: #e0f1ff;
}

.methanal-tab-view .methanal-tab-group-tabs {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
}
