button {
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    box-shadow: 2px 2px #444;
    -o-box-shadow: 2px 2px #444;
    -moz-box-shadow: 2px 2px #444;
    -webkit-box-shadow: 2px 2px #444;
    background-color: #9099a3;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:active:focus,
button:active {
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #7b858f;
    position: relative;
    top: 1px
}

button:focus {
    border-color: #444;
}

button:hover {
    text-decoration: underline;
}

button.methanal-waiting,
button.methanal-waiting:hover,
button.methanal-waiting:active {
    text-decoration: none;
    cursor: wait;
}

button.methanal-submit-disabled,
button.methanal-submit-disabled:hover,
button.methanal-submit-disabled:active {
    text-decoration: none;
    border-color: #ccc;
    background-color: #ccc;
    color: #444;
    cursor: default;
    cursor: not-allowed;
    top: 0;
    opacity: 0.5;
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.methanal-form-group {
    margin: 1em 0;
    border: none;
    border-top: 1px solid #ccc;
    padding: 1em;
    padding-top: 0;
}

.methanal-form-group legend {
    color: #c9000c;
    font-weight: bold;
    font-size: 120%;
}

.methanal-control {
    padding: 0.333em 0;
    clear: left;
}

.methanal-control-inputs,
.methanal-control-inputs > * {
    float: left;
}

.methanal-liveform h1,
.methanal-form-group h2 {
    color: #555;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
    margin: 0 0 0.5em 0;
}

.methanal-control-even {
    background-color: #f0f0f0;
    background-color: rgba(127, 127, 127, 0.08);
}

.methanal-caption {
    float: left;
    clear: left;
    width: 20em;
    line-height: 1.75em;
    margin-right: 2em;
    margin-top: 0.2em;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    color: #353535;
}

.methanal-inline-children .methanal-inline-control .methanal-input {
    clear: none;
    float: left;
    margin-right: 3px;
    min-width: 5em;
}

.methanal-lookup-form .lookup-result .methanal-caption {
    font-style: italic;
    font-weight: bold;
}

.methanal-lookup-form .methanal-caption,
.methanal-multi-input .methanal-caption {
    width: 8em;
    margin-right: 0.533em;
}

.methanal-sub-caption {
    padding: 3px 0;
    float: left;
    clear: left;
}

input.methanal-input,
select.methanal-input,
textarea.methanal-input {
    float: left;
    background-color: #fff;
    background-image: url(/static/Methanal/images/icons/valid.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    border: 1px solid #b7b7b7;
    padding: 0.333em 5px;
    padding-left: 22px;
    margin-right: 0.333em;
    box-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
}

select.methanal-input {
    padding-top: 0.233em;
    padding-bottom: 0.233em;
}

textarea.methanal-input {
    background-position: 4px 4px;
    width: 20em;
    height: 14ex;
}

.methanal-control-error input.methanal-input,
.methanal-control-error select.methanal-input,
.methanal-control-error textarea.methanal-input {
    background-image: url(/static/Methanal/images/icons/invalid.png);
    border-color: #da2603;
}

.methanal-check-input-label {
    float: left;
    margin-right: 0.5em;
    cursor: pointer;
    line-height: 1.75em;
}

.methanal-multi-input input {
    margin-left: 0;
}

.methanal-multi-input label,
.methanal-multi-input label input {
    cursor: pointer;
}

input.methanal-check-input {
    border: none;
    margin-left: 0;
    float: left;
    cursor: pointer;
}

input.telephone-area {
    min-width: 0;
    width: 3em;
}

input.telephone-number {
    min-width: 0;
    width: 7em;
}

input.suburb-postal-code {
    min-width: 0;
    width: 4em;
}

input.suburb-postal {
    min-width: 0;
    margin-left: 0;
}

optgroup {
    font-style: normal;
}

optgroup option {
    padding-left: 1em;
}

.methanal-multiselect {
    max-height: 30ex;
}

.methanal-multiselect-selection {
    font-size: 80%;
    clear: left;
    float: left;
    margin: 2px;
    font-weight: bold;
}

.terminator {
    clear: both;
}

.methanal-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
}

.methanal-table thead td {
    font-weight: bold;
    color: #555;
    background: #ddd url(/Mantissa/images/scrolltable-header-bg.png) repeat-x;
    padding: 4px 5px;
}

.methanal-table a {
    color: black;
    display: block;
    margin: -0.3em;
    padding: 0.3em;
}

.methanal-table td:first-child a,
.methanal-table td.first-child a {
    background: url(/static/Methanal/images/link.gif) no-repeat 5px center;
    padding-left: 19px;
}

.methanal-table tr:hover {
    background-color: #eee !important;
}

.methanal-table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 0.3em;
}

.methanal-table .even {
    background-color: #f5f5f5;
}

.methanal-table .methanal-table-empty-row td {
   font-size: 90%;
   font-weight: bold;
   text-align: center;
}

.methanal-table .table-action-icon {
    border: none;
    vertical-align: middle;
}

.methanal-filter-list {
    margin: 5px;
    border: 1px outset #777;
    background-color: #f4f4f4;
    padding: 5px;
}

.methanal-filter-list .filter-results {
    background: url(/static/Methanal/images/liveform-bg-bottom-top.png) repeat-x top left;
    padding: 1em;
}

.methanal-multi-input,
.methanal-lookup-form {
    float: left;
    padding-left: 1em;
    border-left: 1px solid #b7b7b7;
}

.friendly-representation {
    float: left;
    font-style: italic;
    vertical-align: middle;
    padding: 0.333em 5px;
    margin-left: -0.333em;
    margin-right: 0.333em;
    border: 1px solid #b7b7b7;
    border-left: none;
    background: #eee;
    color: #555;
    box-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
}

.embedded-label {
    color: #bbb !important;
}

.methanal-submit-error {
    color: white;
    background: #74010c;
    border-top: 1px solid #f30219;
    padding: 5px;
    margin: -5px;
    margin-top: 5px;
}

.methanal-submit-error h1 {
    font-size: 130%;
    /*font-family: "Georgia", "Times New Roman", serif;*/
    font-weight: normal;
    margin: 0 0 0.3em 0;
}

.methanal-submit-error > div {
    background: url(/static/Methanal/images/error-icon.png) no-repeat center left;
    padding: 2px;
    padding-left: 24px;
}

.methanal-submit-error-action {
    padding: 0 4px;
    cursor: pointer;
}

.methanal-submit-error-action img {
    vertical-align: middle;
}

.methanal-action-container {
    margin-top: 0.5em;
}

.methanal-action-container .methanal-action-button {
    margin: 0;
    margin-right: 1em;
}

.methanal-action-button-submit {
    background-color: #3580bf;
}

.methanal-action-button-submit:active:focus,
.methanal-action-button-submit:active {
    background-color: #2d6da2;
}

.throbber {
    vertical-align: middle;
}

.modal-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.75;
    z-index: 1000;
}

.modal-dialog-outer {
    z-index: 1001;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-dialog-middle {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.modal-dialog-inner {
    display: table;
    margin: 5% auto;
    background: #fff;
    padding: 1em;
    box-shadow: 0.5em 0.5em #aaa;
    -o-box-shadow: 0.5em 0.5em #aaa;
    -moz-box-shadow: 0.5em 0.5em #aaa;
    -webkit-box-shadow: 0.5em 0.5em #aaa;
}

.modal-dialog-inner h1 {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    font-weight: normal;
}

.modal-dialog-close {
    background: url(/static/Methanal/images/icons/close.png) no-repeat center center;
    float: right;
    width: 16px;
    height: 16px;
}

.placeholder {
    height: 32px;
    background: url(/static/Methanal/images/long-throbber.gif) no-repeat center center;
    padding: 1em 0;
}

/**
 * Tab view widget.
 */

.methanal-tab-view {
    margin: 3em 0;
}

.methanal-tab-view .methanal-tab-labels {
    background: #e0f1ff;
    color: #185280;
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #247dc2;
}

.methanal-tab-view .methanal-tab-label {
    cursor: pointer;
    display: inline-block;
    list-style: none;
}

.methanal-tab-view .methanal-tab-label a {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-bottom: none;
}

.methanal-tab-view .methanal-dynamic-tab a {
    background: #f2e0ff;
}

.methanal-tab-view .methanal-tab-label a:hover {
    background: #247dc2;
    color: white;
}

.methanal-tab-view .selected-tab-label a,
.methanal-tab-view .selected-tab-label a:hover {
    background: white;
    color: black;
}

.methanal-tab-view .selected-tab-label a {
    position: relative;
    top: 1px;
    padding-top: 0.8em;
    border-color: #247dc2;
}

.methanal-tab-view .methanal-tab-content {
    border: 1px solid #247dc2;
    border-top: none;
    display: none;
    clear: left;
    padding: 1em;
}

.methanal-tab-view .selected-tab {
    display: block;
}

.methanal-tab-view .methanal-tab-group {
    cursor: default;
    background: #9bc4e5;
    margin: -2.5em 0.25em -0.5em;
    padding: 0 0.5em;
    -moz-border-radius: 0.5em 0.5em 0 0;
    -webkit-border-radius: 0.5em 0.5em 0 0;
}

.methanal-tab-view .methanal-tab-group-label {
    font-size: 80%;
    text-align: center;
    padding: 0.5em;
    color: #e0f1ff;
}

.methanal-tab-view .methanal-tab-group-tabs {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
}

.hidden {
    display: none !important;
}

.methanal-choice-group {
    border: solid #ddd;
    border-width: 0 0 0 1px;
    margin: 0.5em;
    padding: 0.3em 0 0.3em 0.5em;
}

.methanal-choice-group h4 {
    margin: 0 0 0.25em 0;
}

.methanal-lookup-form .methanal-control-even {
    background-color: #f5f5f5;
}

.dependancy-parent {
    border-left: 3px solid #6094a4;
    margin-left: -3px;
    background-image: url("/static/Methanal/images/icons/dependency_parent.gif");
    background-repeat: no-repeat;
    background-position: left center;
}

.dependancy-child {
    border-left: 3px solid #9fc4cf;
    margin-left: -3px;
}

.form-modified {
    background: #fbede1;
}

.modified-indicator {
    background: url(/static/Methanal/images/icons/warning.png) no-repeat 2px center;
    padding: 5px 2px 5px 20px;
    display: inline-block;
}

/**
 * Expander widget.
 */

.expander {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-color: #f5f5f5 #ddd #bbb;
    border-radius: 3px;
}

.expander-header-container {
    cursor: pointer;
}

.expander-header {
    background: #e8e8e8;
    vertical-align: middle;
    height: auto;
    padding: 0.5em;
}

.expanded .expander-header-label {
    background-image: url(/static/Methanal/images/collapse.png);
}

.expander-header-label {
    background: url(/static/Methanal/images/expand.png) no-repeat;
    line-height: 18px;
    font-size: 140%;
    padding-left: 25px;
}

.expander-content {
    padding: 0.5em;
    padding-top: 1em;
    border-top: 1px solid #c7c7c7;
}

@media print {
    body.printing > * {
        display: none;
    }

    body.printing .print-target {
        display: block;
        position: absolute:
        left: 0;
        top: 0;
        font-size: 50%;
    }

    .print-target .modal-dialog-middle {
        display: block;
    }

    .print-target .modal-dialog-inner {
        display: block;
        max-width: 100%;
        margin: auto;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .print-target .no-print {
        display: none;
    }
}

/**
 * Hover tooltip.
 */

.hover-tooltip {
    display: inline-block;
    position: relative;
    border: 1px solid;
    box-shadow: 1px 1px black;
    -o-box-shadow: 1px 1px black;
    -moz-box-shadow: 1px 1px black;
    -webkit-box-shadow: 1px 1px black;
    color: #fff;
    font-size: 90%;
    padding: 0.25em;
    margin-right: 0.5em;
}

.hover-tooltip,
.hover-tooltip-arrow {
    border-style: solid;
    border-color: #6094a4;
    background: #6094a4;
}

.hover-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-width: 0;
    background: none;
}

.error-tooltip .hover-tooltip,
.error-tooltip .hover-tooltip-arrow {
    border-color: #8d0e1b;
}

/** Tooltip bottom orientation. */

.hover-tooltip-bottom {
    left: -3em;
    margin-top: -1.5em;
}

.hover-tooltip-bottom .hover-tooltip-arrow {
    bottom: -0.7em;
    right: auto;
    left: 1.5em;
    border-left: 0.7em dotted transparent;
    border-right: 0.7em dotted transparent;
    border-top-width: 0.7em;
    border-bottom-width: 0;
    margin-left: -0.7em;
}

/** Tooltip left orientation. */

.hover-tooltip-left {
    left: 0.25em;
    margin-top: -0.25em;
}

.hover-tooltip-left .hover-tooltip-arrow {
    left: 0;
    top: 0.8em;
    bottom: auto;
    margin-top: -0.6em;
    border-top: 0.6em dotted transparent;
    border-bottom: 0.6em dotted transparent;
    border-right-width: 1em;
    border-left-width: 0;
    margin-left: -0.9em;
}

/** Tooltip top orientation. */

.hover-tooltip-top .hover-tooltip-arrow {
    top: -0.7em;
    right: auto;
    left: 1.5em;
    border-left: 0.7em dotted transparent;
    border-right: 0.7em dotted transparent;
    border-bottom-width: 0.7em;
    border-top-width: 0;
    margin-left: -0.7em;
}

/** Error hover tooltip. */

.error-tooltip .hover-tooltip,
.submission-error-tooltip .hover-tooltip {
    background-repeat: no-repeat;
    background-position: 0.25em center;
    padding-left: 0.5em;
}

.error-tooltip .hover-tooltip {
    background-color: #8d0e1b;
    border-color: #8d0e1b;
    color: #fff;
}

/** TextInput hover tooltip. */

.label-tooltip .hover-tooltip {
    position: absolute;
    left: inherit;
    margin-left: -3em;
    margin-top: -2em;
}

/** LiveForm submission error tooltip. */

.submission-error-tooltip .hover-tooltip {
    margin-top: 0.5em;
}

.submission-error-tooltip h2 {
    margin: 0.25em 0;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

.submission-error-tooltip p {
    font-size: 110%;
    margin: 0.5em 0;
}

/** LiveForm validation error tooltip. */

.form-validation-error-tooltip .hover-tooltip {
    max-width: 25%;
}

.form-validation-error-tooltip a:link,
.form-validation-error-tooltip a:visited {
    padding: 0 0.3em;
    color: #fee34d;
    text-decoration: underline;
}

.form-validation-error-tooltip a:hover {
    background: #a94a54;
}

.form-validation-error-tooltip h2 {
    cursor: default;
}
