.methanal-multi-input {
    border: 1px outset #ddd;
}

.methanal-form-group {
    border-color: white;
}

.unadded .roll-up-label {
    padding-top: 0.3ex;
    padding-bottom: 0.3ex;
}

.roll-up-label {
    font-size: 130%;
}

.roll-up-section {
    border-color: white;
}

.roll-up-bar img {
    position: absolute;
}

.modal-dialog-overlay {
    background: black;
    filter: alpha(opacity=75);
}

.modal-dialog-middle {
    position: absolute;
    top: 5%;
    left: 0%;
}

.modal-dialog-inner {
    margin: 0 auto;
    width: 75%;
    border: 2px solid #999;
}
